:root{
    --colorbase : #1879f7;
    --colorbaseDark : #0d438a;
    --TextColor: #c6c6c6;

    --backgroundLight: #b9c7df;
    --backgroundDark: #2a2a2a;
}

body{
    background: var(--backgroundDark);
    overflow-x: hidden;
    color: var(--colorbase);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*|  Modificaciones del scrollbar*/
/*|*/*::-webkit-scrollbar{
/*|*/    -webkit-appearance: none;
/*|*/    background: #141619;
/*|*/}
/*|*/*::-webkit-scrollbar:vertical {
/*|*/    width:10px;
/*|*/}
/*|*/*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button {
/*|*/   /*display: none;*/
/*|*/    background-color: rgb(34, 34, 34);
/*|*/    border: 2px solid #2c2c2c;
/*|*/} 
/*|*/
/*|*/*::-webkit-scrollbar:horizontal {
/*|*/    height: 10px;
/*|*/}
/*|*/
/*|*/*::-webkit-scrollbar-thumb {
/*|*/    background-color: rgb(34, 34, 34);
/*|*/    border-radius: 20px;
/*|*/    /*border: 2px solid #2c2c2c;*/
/*|*/    border: 2px solid var(--colorbase);
/*|*/}
/*|*/
/*|*/*::-webkit-scrollbar-track {
/*|*/    border-radius: 10px;  
/*|*/}
/*|_________________________________*/



.changeDarkLight{
    width: 20px;
    height: 20px;
    background: transparent;
    border: 0px;
    color: red;
}



.title{
    background: #1b1c21;

    border: 1px solid #2e69ff;
    box-shadow: 0px 0px 27px #2f378c;
    color: var(--colorbase);
    margin-top: 10px;
}

.titles{
    text-align: center;
    color: var(--colorbase);
    font-size: 50px;
    background: radial-gradient(#161518, transparent,transparent);
}
div{
    color: var(--TextColor);
}

.divFil{
    display: flex;
    background: var(--colorbaseDark );
    padding: 10px;
    /*box-shadow: 0px 0px 5px var(--colorbaseDark ), 
                0px 0px 10px var(--colorbaseDark ), 
                0px 0px 15px var(--colorbaseDark ), 
                0px 0px 20px var(--colorbaseDark ), 
                0px 0px 25px var(--colorbaseDark ), 
                0px 0px 30px var(--colorbaseDark ), 
                0px 0px 35px var(--colorbaseDark ), 
                0px 0px 40px var(--colorbaseDark );*/
}

#ChecksOPCont{
    border: 0px solid #141619;
    display: block;
    padding: 2px;
    display: flex;
    justify-content: space-around;

}
.LabelOPCont{
    background: linear-gradient(#2c2f31, #202326 60%, #131416);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 3px solid var(--colorbase);
    border-bottom: 3px solid var(--colorbaseDark);

    height: 30px;
    padding: 5px;
    padding-right: 30px;
    float: left;
    margin: 0.5px;
    width: 31%;
    text-align: center;
    
}
.LabelOPContCheck{
    background: linear-gradient(#414547, #303438 60%, #282c30);
    height: 30px;
    padding: 5px;
    padding-right: 30px;
    float: left;
    margin: 0.5px;
    width: 31%;
    text-align: center;
    color: var(--SpecialTextColorPalid);
    text-shadow: 0px 0px 20px cyan;
    box-shadow: 0px 0px 1px cyan;
}

.LabelOPCont:hover{
    color: var(--SpecialTextColorPalid);
    background: linear-gradient(#414547, #303438 60%, #282c30);
}

a{
    color: var(--colorbase);
    font-size: 20px;
}
Alert{
    color:orange;
}
item{
    color:var(--colorbase);
    font-size: 10px;

}